asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
distlib==0.4.0
Django==5.2.5
dnspython==2.7.0
filelock==3.18.0
idna==3.10
platformdirs==4.3.8
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.33.1
